name: Python

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths:
      - 'binding/python/**'
      - '!binding/python/README.md'
      - 'lib/beaglebone/**'
      - 'lib/jetson/**'
      - 'lib/linux/**'
      - 'lib/mac/**'
      - 'lib/raspberry-pi/**'
      - 'lib/windows/**'
      - 'res/**'
  pull_request:
    branches: [ main ]
    paths:
      - 'binding/python/**'
      - '!binding/python/README.md'
      - 'lib/beaglebone/**'
      - 'lib/jetson/**'
      - 'lib/linux/**'
      - 'lib/mac/**'
      - 'lib/raspberry-pi/**'
      - 'lib/windows/**'
      - 'res/**'

defaults:
  run:
    working-directory: binding/python

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: ['3.5' , '3.6', '3.7', '3.8', '3.9', '3.10']

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Pre-build dependencies
      run: python -m pip install --upgrade pip

    - name: Install dependencies
      run: pip install -r requirements.txt

    - name: Test
      run: python test_cobra.py ${{secrets.PV_VALID_ACCESS_KEY}}

  build-self-hosted:
    runs-on: ${{ matrix.machine }}

    strategy:
      fail-fast: false
      matrix:
        machine: [rpi2, rpi3-32, rpi3-64, rpi4-32, rpi4-64, jetson, beaglebone]

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive

    - name: Pre-build dependencies
      run: python3 -m pip install --upgrade pip

    - name: Install dependencies
      run: pip3 install -r requirements.txt

    - name: Test
      run: python3 test_cobra.py ${{secrets.PV_VALID_ACCESS_KEY}}
