name: Python Performance

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths:
      - '.github/workflows/python-perf.yml'
      - 'binding/python/test_cobra_perf.py'
      - 'lib/linux/**'
      - 'lib/mac/**'
      - 'lib/raspberry-pi/**'
      - 'lib/windows/**'
      - 'res/audio/**'
  pull_request:
    branches: [ main, 'v[0-9]+.[0-9]+' ]
    paths:
      - '.github/workflows/python-perf.yml'
      - 'binding/python/test_cobra_perf.py'
      - 'lib/linux/**'
      - 'lib/mac/**'
      - 'lib/raspberry-pi/**'
      - 'lib/windows/**'
      - 'res/audio/**'

defaults:
  run:
    working-directory: binding/python

jobs:
  perf-github-hosted:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        device: [ cpu ]
        include:
        - os: ubuntu-latest
          performance_threshold_sec: 0.03
        - os: windows-latest
          performance_threshold_sec: 0.03
        - os: macos-latest
          performance_threshold_sec: 0.03

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python '3.10'
      uses: actions/setup-python@v2
      with:
        python-version: '3.10'

    - name: Pre-build dependencies
      run: python -m pip install --upgrade pip

    - name: Install dependencies
      run: pip install -r requirements.txt

    - name: Test
      run: python test_cobra_perf.py ${{secrets.PV_VALID_ACCESS_KEY}} ${{matrix.device}} 100 ${{matrix.performance_threshold_sec}}

  perf-self-hosted:
    runs-on: ${{ matrix.machine }}

    strategy:
      fail-fast: false
      matrix:
        machine: [rpi3-32, rpi3-64, rpi4-32, rpi4-64, rpi5-64]
        device: [ cpu ]
        include:
        - machine: rpi3-32
          num_test_iterations: 100
          performance_threshold_sec: 0.3
        - machine: rpi3-64
          num_test_iterations: 100
          performance_threshold_sec: 0.3
        - machine: rpi4-32
          num_test_iterations: 100
          performance_threshold_sec: 0.15
        - machine: rpi4-64
          num_test_iterations: 100
          performance_threshold_sec: 0.15
        - machine: rpi5-64
          num_test_iterations: 100
          performance_threshold_sec: 0.05

    steps:
    - uses: actions/checkout@v3

    - name: Pre-build dependencies
      run: python3 -m pip install --upgrade pip

    - name: Install dependencies
      run: pip3 install -r requirements.txt

    - name: Machine state before
      working-directory: res/scripts
      run: bash machine-state.sh

    - name: Test
      run: python3 test_cobra_perf.py ${{secrets.PV_VALID_ACCESS_KEY}} ${{matrix.device}} ${{matrix.num_test_iterations}} ${{matrix.performance_threshold_sec}}

    - name: Machine state after
      working-directory: res/scripts
      run: bash machine-state.sh

  perf-windows-arm64:
    runs-on: ${{ matrix.machine }}

    strategy:
      fail-fast: false
      matrix:
        machine: [pv-windows-arm64]
        include:
        - machine: pv-windows-arm64
          num_test_iterations: 100
          performance_threshold_sec: 0.025

    steps:
    - uses: actions/checkout@v3

    - name: Pre-build dependencies
      run: python3 -m pip install --upgrade pip

    - name: Install dependencies
      run: pip3 install -r requirements.txt

    - name: Test
      run: python3 test_cobra_perf.py ${{secrets.PV_VALID_ACCESS_KEY}} cpu:1 ${{matrix.num_test_iterations}} ${{matrix.performance_threshold_sec}}
